/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* mouse over link */
a:hover {
    color: hotpink;
}


/*-------------------------------
     Header Area
---------------------------------*/

#logo {
	float: left;
	color: white;
	font-size: 30px;
	padding-left: 7%;
	padding-top: 15px;
	font-family: 'Open Sans', sans-serif; font-weight: 800;
}

.headerimage {
	position: relative;
	height: 33.33%;
}

.headerimage img{
	width: 100%;
}

.relaxr_head{
	position: absolute;
  	top: 60px;
	padding-left: 10%;
   	font-family: 'Open Sans', sans-serif; font-weight: 800;
	font-size: 35px;
	color: white;
}

.mind {
	position: absolute;
	text-align: center;
	top: 225px;
	left: 0;
	width: 100%;
	color: white;
	font-size: 35px;
   	font-family: 'Open Sans', sans-serif; font-weight: 600;
}

#yht{
	width:200px;
	background: #033048;
	margin-left: auto;
	margin-right: auto;
}

#yht p{
	position: absolute;
	top: 335px;
	color: #606161;
	font-size: 20px;
   	font-family: 'Open Sans', sans-serif; font-weight: 800;
	margin-left: 30px;	
	background: yellow;
	border-radius: 5px;
	padding: 10px 25px;
}

nav ul {
	background-color: #003366;
	text-align: right;
	padding: 20px;
	padding-right: 18%;
}

nav li {
	display: inline;
	padding-left: 10px;
	margin: 10px;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif; font-weight: 600;
}

header a {
	color: #f9e42e;
	text-decoration: none;
}


/* ----------------------------
		Structure
-------------------------------*/
body {
	background-color: #f0efef;
}


hr {
    margin-right: 39%;
    border-style: inset;
    border-width: 2.5px;
    margin-left: 0%;
}

.blogp {
	padding-right: 39%;
	font-family: 'Open Sans', sans-serif; font-weight: 300;
	font-size: 24px;

}

.article_name {
	font-size: 40px;
	font-family: 'Open Sans', sans-serif; font-weight: 600;
	word-wrap: break-word;
}

.two_parts {
	margin-left: 7%;	
	margin-top: 4%;
	margin-right: 3%;
}

.img{
	padding-top: 2%;
	padding-bottom: 2%;
}

.blogp:first-letter {
	font-size: 70px;
	float: left;
	font-family: 'Open Sans', sans-serif; font-weight: 600;

}

.read_more {
	padding-left: 48%;
	margin-top: 4%;
	padding-bottom: 2%;
}

.read_more a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif; font-weight: 600;
	font-size: 24px;
}

/* ----------------------------
		midsection
-------------------------------*/
.benefits {
   	font-family: 'Open Sans', sans-serif; font-weight: 600;
	font-size: 20px;
	padding-top: 4%;
	padding-left: 8%;
}

#sub_benefits {
	padding-left: 8%;	
	padding-top: 1%;
	padding-bottom: 1%; 
	font-family: 'Open Sans', sans-serif; font-weight: 400;
	font-size: 15px;
}

#relax_ben {
	list-style-type: disc;
	padding-left: 150px;
	font-family: 'Open Sans', sans-serif; font-weight: 400;
	font-size: 15px;
	padding-top: 1.2%;
}

#white-section {
    width: 100%;
    height: 400px;
    background-color:#f0efef;
}

/* ---------------------------
		aside
------------------------------*/
#sidebar {
	float:right;
	margin-top: 3%;
	margin-right: 16%;
}

.sub_head {
	padding-bottom: 8%;
	font-size: 32px;
	font-family: 'Open Sans', sans-serif; font-weight: 800;
}

#learn_more a {
	font-family: 'Open Sans', sans-serif; font-weight: 600;
	font-size: 20px;
}

aside li{
	padding-bottom: 2%;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif; font-weight:300;
}

aside a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif; 

}

aside p{
   width: 12em; 
   word-wrap: break-word;
   font-family: 'Open Sans', sans-serif; font-weight: 300;
   font-size: 22px;
}

#sub_about {
	padding-top: 20%;
}

#first_ad {
	margin-top: 15%;
}


/* --------------------------
		Footer
-----------------------------*/

footer {
	clear: both;
}

.yellow-band {
	background: #f9e42e;
	padding:25px;
}

#yellow_two {
	margin-top: 7%;

}
		
#cta{
	width:200px;
	background: #033048;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

#cta p{
	font-weight: bold;
	color: white;
	font-size: 18px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
}

#cta a{
	text-decoration: none;
}

.foot{
	font-style: italic;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif; font-weight: 400;
	text-align: center;
	position: relative;
	bottom: 320px;
	color: #f0efef;
}

#footer-background img{
	width: 100%;
}

#footer-background {
	background-image: url("images/testimonial_bg.jpg");
}

.quote{
	font-family: 'Open Sans', sans-serif; font-weight: 600;
	font-size: 25px;
	text-align: center;
	padding-top: 1%;
	color: #f0efef;
	position: relative;
	bottom: 280px; 
}

.black_footer {
	text-align: center;
	background-color: #121212;
	color: white;
}

.black_footer h1 {
	font-size: 24px;
	font-weight: bolder;
	color: #f9e42e;
	padding-top: 4%;
	font-family: 'Open Sans', sans-serif; font-weight: 800;
}

.black_footer img {
	margin-top: 4%;
	margin-bottom: 4%;
	padding-left: 1.5%;
	padding-right: 1.5%;
}

.black_footer p {
	padding-bottom: 3%;
   font-family: 'Open Sans', sans-serif; font-weight: 600;
   font-size: 9px;
}

/*--Js--*/
.hide {
	display: none;
}

.posttext{
	display: none;
}